<h1> Animal </h1>
<h2> Kind: <%= @animal.kind %></h2>
<h2> Size: <%= @animal.size %></h2>
<h2> Demeanor: <%= @animal.demeanor %></h2>
<h2> Color: <%= @animal.color %></h2>

<%= form_for @stuffed_animal do |f| %>
<%%>

<%= link_to 'Buy It', stuffed_animal_path %>