<!DOCTYPE html>
<html>
  <head>
    <title>BuildABear</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <body style="background-image: url('https://cdn.hovia.com/app/uploads/Kids-Jungle-Animal-Friends-Wallpaper-Mural-Swatch-820x532.jpg');">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
